## Settings file was created by plugin CurrencyPocket v1.0.15
## Plugin GUID: Azumatt.CurrencyPocket

[1 - General]

## If on, the configuration is locked and can be changed by server admins only. [Synced with Server]
# Setting type: Toggle
# Default value: On
# Acceptable values: Off, On
Lock Configuration = On

## If enabled, items with a value greater than 0 can be converted to coins when dropped into the pocket.
# Setting type: Boolean
# Default value: true
AllowValuableItems = true

## Comma-separated list of prefab names that are allowed to be converted to coins (e.g., 'Ruby,Amber,AmberPearl'). If empty, all valuable items are allowed when AllowValuableItems is enabled.
# Setting type: String
# Default value: 
AllowedValuablePrefabs = 

