## Settings file was created by plugin MonsterModifiers v1.2.7
## Plugin GUID: warpalicious.MonsterModifiers

[Balance]

## The maximum amount of modifiers a creature can have. [Synced with Server]
# Setting type: Int32
# Default value: 5
Max Modifiers = 5

