# FORMAT RECTANGLE : origine_X, origine_Z, largeur, hauteur
# - Origine = coin SUD-OUEST (X et Z les plus négatifs)
# - Largeur = coin_NE_X - coin_SO_X (positif, va vers l'est)
# - Hauteur = coin_NE_Z - coin_SO_Z (positif, va vers le nord)
# - Coords depuis "pos" en jeu (format : x,z,y — y = altitude, ignorée)
# - Exemple : SO=-608,-779 et NE=-476,-540 → largeur=132, hauteur=239
# FORMAT CIRCLE : centre_X, centre_Z, rayon
# FORMAT SQUARE : centre_X, centre_Z, demi-côté
[QuestZone@1]
Rectangle
-608, -779, 132, 239
255, 200, 100
NoBuild, NoBuildDamage
None

[Spawn@1]
Circle
0, 0, 50
220, 220, 220
NoBuild, NoBuildDamage
None

[Village_Meadows@1]
Circle
0, 0, 60
120, 200, 80
NoBuild, NoBuildDamage
None

[Village_BlackForest@1]
Circle
0, 0, 60
40, 100, 40
NoBuild, NoBuildDamage
None

[Village_Swamp@1]
Circle
0, 0, 60
60, 100, 80
NoBuild, NoBuildDamage
None

[Village_Mountains@1]
Circle
0, 0, 60
200, 220, 255
NoBuild, NoBuildDamage
None

[Village_Plains@1]
Circle
0, 0, 60
220, 180, 60
NoBuild, NoBuildDamage
None

[Village_Mistlands@1]
Circle
0, 0, 60
80, 60, 120
NoBuild, NoBuildDamage
None

[Village_Ashlands@1]
Circle
0, 0, 60
220, 60, 40
NoBuild, NoBuildDamage
None

[Village_DeepNorth@1]
Circle
0, 0, 60
180, 230, 255
NoBuild, NoBuildDamage
None

[Pecheur_1@1]
Circle
0, 0, 25
60, 140, 220
NoBuild, NoBuildDamage
None

[Pecheur_2@1]
Circle
0, 0, 25
60, 140, 220
NoBuild, NoBuildDamage
None

[Pecheur_3@1]
Circle
0, 0, 25
60, 140, 220
NoBuild, NoBuildDamage
None

[BossStone_Eikthyr@1]
Circle
0, 0, 20
180, 220, 100
NoBuild, NoBuildDamage
None

[BossStone_Elder@1]
Circle
0, 0, 20
40, 120, 40
NoBuild, NoBuildDamage
None

[BossStone_Bonemass@1]
Circle
0, 0, 20
60, 100, 140
NoBuild, NoBuildDamage
None

[BossStone_Moder@1]
Circle
0, 0, 20
180, 210, 255
NoBuild, NoBuildDamage
None

[BossStone_Yagluth@1]
Circle
0, 0, 20
200, 100, 40
NoBuild, NoBuildDamage
None

[BossStone_Queen@1]
Circle
0, 0, 20
120, 60, 180
NoBuild, NoBuildDamage
None

[BossStone_Fader@1]
Circle
0, 0, 20
220, 60, 40
NoBuild, NoBuildDamage
None
